PORT=4000
DB_HOST=MySQL-8.0
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=city
AUTH_TOKEN_SECRET=change-me-dev-auth-secret
ADMIN_USER=milka
ADMIN_PASSWORD_HASH=cf23dc33d6aba13592a72190564ed18b2c0dae295f681ee0fddc4862f01225cf
